{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST" data-netlify="true">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Nom">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Email">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Organisme">
          <input type="tel" id="phone" class="form-control mb-3" name="Téléphone"
              pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Votre Message"></textarea>
          <button type="submit" value="send" class="btn btn-primary">Envoyer</button>
        </form>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}