{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form name="Contact Form" action="{{ site.Params.contact_form_action | safeURL }}" method="POST" data-netlify="true">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Nom">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Email">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Organisme">
          <input type="tel" class="form-control mb-3" id="phone" name="phone" placeholder="Téléphone: 01 12 34 56 78" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}|[0-9]{10}|[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}|[0-9]{2}.[0-9]{2}.[0-9]{2}.[0-9]{2}.[0-9]{2}">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="Votre Message"></textarea>
          
          <input type="checkbox" id="infosconsent" name="consent" value="ok-consent" onchange="document.getElementById('consenting').disabled = !this.checked;" checked/>
          En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de ma demande, et de la relation commerciale qui pourrait en découler.
          <!-- <input class="check-mark" type="checkbox" id="infosconsent" name="consent" value="ok-consent" checked>  -->
          <br><br>

          <!-- <button type="submit" value="send" class="btn btn-primary">Envoyer</button> -->
          
          <input type="submit" name="sendForm" class="btn btn-primary" id="consenting" value=" Envoyer " />


        </form>
      </div>
      
     
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}